.movieDetailsSection {
    padding-bottom: 60px;
}

.goBackBtn {
    padding: 5px 10px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;

    cursor: pointer;
}

.svgArrBack {
    width: 45px;
    height: 25px;

    fill: transparent;
    stroke: black;
    stroke-width: 25px;
}

.goBackBtn:hover .svgArrBack {
    fill: rgba(255, 0, 0, 0.737);
}

.goBackBtn:hover {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 0.5) 0%, rgba(253, 29, 29, 0.5) 50%, rgba(252, 176, 69, 0.5) 100%);
}

.movieDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    margin-bottom: 40px;
}

/* .movieImg {
} */

.mainMovieInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.movieTitle {
    font-size: 35px;
}

.movieSubtitleText {
    font-weight: 400;
    font-style: italic;
}

.movieSubtitleSpan {
    font-weight: 700;
    font-style: normal;
}

.movieSubtitleOverview {
    font-size: 23px;
}

.movieSubtitleGenre {
    font-size: 21px;
}

.additMovieInfo {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.additMovieTitle {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.additMovieList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 0;

    list-style: none;
}

.additMovieItem {
}

.additMovieLink {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.additMovieLink:hover {
    text-decoration: none;
    font-size: 24px;
    color: pink;
}

.additMovieLink:focus {
    color: red;
}